<h1><%= movie.title %></h1>
<article class="message is-dark">
  <div class="message-header">
    <p>Description</p>
  </div>
  <div class="message-body">
    <%= book.description %>
  </div>
</article>





<p>
 <strong>Rating: </strong>
 <%= book.description %>
</p>
<p>
  <strong>Genres:</strong>
  <%= book.genres %>
</p>

<p>
  <strong>Release Year: </strong>
 <%= book.publication_date %>
</p>



<h1>Awesome!</h1>
