<p><strong>Book ID: </strong><%= @book.id %></p>
<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Description: </strong><%= @book.description %></p>
<p><strong>ISBN13: </strong><%= @book.isbn13 %></p>
<p><strong>Number of Pages: </strong><%= @book.num_pages %></p>
<p><strong>Publication Date: </strong><%= @book.publication_date %></p>
<p><strong>Pirce: </strong><%= @book.price %></p>
<p><strong>Image URL: </strong><%= @book.image_url %></p>
<p><strong>Language: </strong><%= @language.name %></p>
<p><strong>Publisher: </strong><%= @publisher.name %></p>
<p><strong>Genre: </strong><%= @genre.name %></p>

