<p><%= @book.id %></p>
<p><%= @book.title %></p>
<p><%= @book.description %></p>
<p><%= @book.isbn13 %></p>
<p><%= @book.num_pages %></p>
<p><%= @book.publication_date %></p>
<p><%= @book.price %></p>
<p><%= @book.image_url %></p>
<p><%= @book.language_id %></p>
<p><%= @book.publisher_id %></p>
<p><%= @book.genre_id %></p>

