<h1>Advanced Search</h1>

<%= form_for @search, html: {} do |s| %>

  <div class="field">
    <%= s.label :keywords %>
    <div>
      <%= s.text_field :keywords%>
    </div>
  </div>

  <div class="field">
    <%= s.label :genre %>
    <div>
      <%= s.text_field :genre, options_for_select(@categories), { prompt: "Select Genre" }%>
    </div>
  </div>

  <div class="field">
    <p><%= s.label :min_price, "Min Price" %> - <%= s.text_field :min_price, size 10 %></p>
    <p><%= s.label :max_price, "Min Price" %> - <%= s.text_field :max_price, size 10 %></p>
  </div>

  <div class="field">
   <p><%= s.label :isbn13, "ISBN13" %> - <%= s.text_field :isbn13, size 10 %></p>
  </div>

  <div class="control">
    <%= form.submit "Search", class: "button is-primary" %>
  </div>
<% end %>
<p><%= link_to 'Back', books_path %></p>