<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
  <div>
    <%= render partial: 'layouts/navbar' %>
  </div>
    <section>
      <div class="container">
        <h2 class="title is-2">List of Books: </h2>
      </div>
      <%= form_with(url: search_books_path, method: :get, local:true) do |form| %>
        <div class="field is-grouped mb-5">
        <%= form.label :keywords, "Search for:" %>
          <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search for Books by title or ISBN13") %>
          <%= form.select :genre_id, options_for_select(Genre.all.map{|c| [c.name, c.id]}), { prompt: "Select Genre" } %>
        </div>

        <div class="control">
          <%= form.submit "Search", class: "button is-primary" %>
        </div>
      <% end %>
    <%= yield %>
    <section>
    <%if controller_name == 'books' %>
      <p>No footer in the books page </p>
    <% else %>
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>
