<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce/tinymce.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div>
      <%= render partial: 'layouts/navbar' %>
    </div>
    <section>
    <%= yield %>
    </section>

      <%if controller_name != 'books' %>
        <p>No footer in the books page </p>
      <% else %>
        <%= render partial: 'layouts/footer' %>
      <% end %>

  </body>
</html>
